@model IEnumerable<DepartmentGeneralDTO>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1 class="text-center">Departments Page</h1>
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="Department" asp-action="Create" type="button" class="btn btn-outline-dark">
            <i class="fa-solid fa-plus"></i>
            Create New Department</a>
    </div>

    @if (Model.Count() > 0)
    {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(d => d.Code)</th>
                        <th>@Html.DisplayNameFor(d => d.Name)</th>
                        <th>@Html.DisplayNameFor(d => d.Description)</th>
                        <th>@Html.DisplayNameFor(d => d.CreationDate)</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var department in Model)
                {
                        <tr>
                            <td>@department.Code</td>
                            <td>@department.Name</td>
                            <td>@department.Description</td>
                            <td>@department.CreationDate</td>
                            <td>
                                <a asp-controller="Department" asp-action="Details" asp-route-id="@department.Id" class="btn btn-dark">
                                    <i class="fa-solid fa-eye me-2"></i> Details
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Department" asp-action="Update" asp-route-id="@department.Id" class="btn btn-dark">
                                    <i class="fa-solid fa-pen-to-square me-2"></i>Update
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Department" asp-action="Delete" asp-route-id="@department.Id" class="btn btn-danger">
                                    <i class="fa-solid fa-trash me-2"></i>Delete
                                </a>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
    }
    else
    {
            <div class="alert alert-warning">
                <h3>There is No Departments :(</h3>
            </div>
    }
</div>
